<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Simple Sidebar - Start Bootstrap Template</title>
    include includes/head.pug
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      include includes/sidebar.pug
      <div id="page-content-wrapper">
        include includes/navbar.pug
        <div class="container-fluid">
          <h1 class="mt-4">Drop or select a file to upload</h1>
          <form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
        </div>
      </div>
    </div>
  </body>
</html>
