<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Warenhaus </div>
  <div class="list-group list-group-flush">
    <a href="/" class="list-group-item list-group-item-action bg-light"><i class="fas fa-home"></i> Home</a>
    <a href="/upload" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cloud-upload-alt"></i> Upload</a>
    <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-robot"></i> Discord Bot</a>
    <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-gift"></i> Donate</a>
    <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-envelope"></i> Contact</a>
  </div>
</div>
